@mixin dark {
  --text-color: #ffffff;
  --bg-color: #000000;
  --primary: hsl(300, 70%, 40%);
  --secondary: hsl(190, 90%, 50%);
  --accent: hsl(80, 90%, 50%);
  --text-shadow: var(--shadow-black), var(--shadow-neon);
}

