@mixin dark {
  --text-color: #ffffff;
  --bg-color: #000000;
  --primary: hsl(300, 70%, 40%);
  --secondary: hsl(190, 90%, 50%);
  --accent: hsl(80, 90%, 50%);
  --text-shadow: var(--shadow-black), var(--shadow-neon);

  > section:nth-of-type(1) {
    background-image: url("/cccoil.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
}
