// Fonts
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

// Mixins
@import "./styles/breakpoints";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: currentColor;
  list-style: none;
}

// Main

.home {
  // Default (Light) Theme Variables
  --text-color: #000000;
  --bg-color: #ffffff;
  --primary: hsl(80, 90%, 45%);
  --secondary: hsl(16, 85%, 50%);
  --accent: hsl(300, 100%, 35%);
  --bigfont: "Unica One", sans-serif;
  --font: "Quicksand", sans-serif;
  --font-weight: 900;
  --text-shadow: var(--shadow-doubled);
  --font-size-mult: 1.2;

  @include xs {
    --font-size-mult: 1.75;
  }
  @include sm {
    --font-size-mult: 2.5;
  }
  @include md {
    --font-size-mult: 3;
  }
  @include lg {
    --font-size-mult: 3.5;
  }
  @include xl {
    --font-size-mult: 4;
  }

  // Shadow Variables
  --shadow-doubled: min(0.4vw, 0.2rem) min(0.4vw, 0.2rem) 0 var(--secondary),
    min(-0.1vw, -0.2rem) min(-0.1vw, -0.2rem) 0 var(--primary);

  --shadow-black: 0 2px 0 var(--bg-color), 2px 0 0 var(--bg-color),
    0 -2px 0 var(--bg-color), -2px 0 0 var(--bg-color);

  --shadow-neon: 0.3rem 0.3rem 0.2rem var(--primary),
    -0.3rem -0.3rem 0.2rem var(--secondary), 0.3rem 0.3rem 1.5rem var(--primary),
    -0.3rem -0.3rem 1.5rem var(--secondary);

  // Background
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--accent) 2px, transparent 0px);
  background-size: 75px 75px;

  // Layout
  display: flex;
  flex-direction: column;
  align-items: center;

  // Typography

  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: calc(0.4rem * var(--font-size-mult));
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  line-height: 1;

  // Header text
  > span {
    margin: 0.5rem;
    position: absolute;
    text-shadow: none;
  }

  // Selection Color
  ::selection {
    color: var(--accent);
  }

  // Main Elements

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
  }

  h1 {
    text-transform: uppercase;
    font-family: var(--bigfont);
    font-size: calc(1.5rem * var(--font-size-mult));
  }

  h2 {
    font-size: calc(0.7rem * var(--font-size-mult));
    margin-left: calc(0.2rem * var(--font-size-mult));
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: calc(2rem * var(--font-size-mult));
    text-align: center;

    p {
      font-size: calc(0.6rem * var(--font-size-mult));
    }

    svg {
      padding: 0.2rem;
      width: calc(1.2rem * var(--font-size-mult));
      fill: var(--secondary);
      filter: drop-shadow(1px 0 0 var(--primary))
        drop-shadow(0 1px 0 var(--primary)) drop-shadow(0 -1px 0 var(--primary))
        drop-shadow(-1px 0 0 var(--primary));
    }
    :nth-child(3) {
      stroke: var(--bg-color);
    }
  }
}

.dark {
  --text-color: #ffffff;
  --bg-color: #000000;
  --primary: hsl(300, 70%, 40%);
  --secondary: hsl(190, 90%, 50%);
  --accent: hsl(80, 90%, 50%);
  --text-shadow: var(--shadow-black), var(--shadow-neon);
}
